button {
    padding: 15px;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 5xp;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 15.5px;
}

body{
    zoom: 2;
}