.quadrado{
    width: 200px;
    height: 200px;
    background-color: brown;
}

.quadrado--2{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    margin-top: 10px;
}

body{
    margin: 0;
    padding: 0;
}