body {
    padding: 0;
    margin: 0;
}

.todo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: cornflowerblue;
    height: 100px;
}

.parte--logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.logo{
    margin-left: 50px;
}

.parte--menus {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

